/* Input */
input,
textarea {
  border: none;
  background: #f7f6f7;
  padding: 0.5em 0.8em;
  font-size: 1.1em;
}

/* Search Bar */
.search input {
  width: 100%;
}

/* Markdown */
.code-block {
  margin: 0 -0.5em;
  font-size: 1em;
}

.italic {
  color: #fd6565;
}

/* Textarea */
.resizable-textarea {
  width: 100%;
}

/* Buttons */
.btn {
  border-radius: 0.25em;
  background-color: #9f9f9f;
  padding: 0.25em 0.75em;
  font-size: 0.9em;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  border: 0;
  display: inline-block;
  text-align: center;
  color: white;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 95%;
  margin: 1em auto;
  max-width: 120em;

  > * {
    z-index: 2;
  }
}

/* Images */
.max-image-width {
  max-width: 100%;
}
