/* Input */
input,
textarea {
    border: none;
    outline: none;
    background: #f7f6f7;
    padding: .5em .8em;
    font-size: 1.1em;
}

/* Search Bar */
.search input {
    width: 100%;
}

/* Tags */
.tags {
    display: flex;
    margin: .3em;
}

.tag {
    margin: .3em;
    font-size: .9em;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
}

.greyTag {
    margin: .3em;
    font-size: .9em;
    font-weight: 300;
    border-radius: .25em;
    cursor: pointer;
}

/* New Note */
.note-input .CodeMirror {
    background: #f7f6f7;
}

.note-result {
    margin: .3em 0;
    padding: .3em;
    border-top: 1px solid #f7f6f7;
    border-bottom: 1px solid #f7f6f7;
    white-space: pre-wrap;
}

.new-note-footer {
    display: flex;
    justify-content: space-between;
}

/* Notes */
.notes {
    margin: 2em 0;
}

.note {
    margin: .5em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25em;
}

.note > *:first-child {
    margin: .5em;
    white-space: pre-wrap;
}

.note .footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5em;
}

.note .footer .left button {
    margin-right: .25em;
}

/* Markdown */
.code-block {
    margin: 0 -.5em;
    font-size: 1em;
}

.italic {
    color: #FD6565;
}

/* Textarea */
.resizable-textarea {
    width: 100%;
}

/* Buttons */
.btn {
    border-radius: .25em;
    box-shadow: 0 .25em 0 #757575;
    background-color: #9f9f9f;
    padding: .25em .75em;
    font-size: .9em;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    border: 0;
    display: inline-block;
    text-align: center;
    color: white;
    margin: .45em .8em;
}

.main-button {
    background: #FD6565;
    padding: .3em .9em;
    font-size: 1em;
}

.new-tag {
    font-size: .9em;
    padding: .4em .8em;
}

.tag-form-plus {
    padding: .1em .8em;
    font-size: 1.1em;
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: space-between;
    padding: .5em;
}
