.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




.page-header {
  color: #fff;
  background: #191818;
  margin: 0;
  padding: 10px 20px;
}

.editor-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 400px;
  overflow: hidden;
}

.editor-pane {
  overflow: auto;
  box-shadow: -10px 2px 6px 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.editor-pane button {
  float: right;
}

.result-pane>div {
  overflow: auto;
  padding: 10px;
  padding-left: 20px;
  color: #444;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 1.5em;
}

.editor textarea {
  padding: 20px;
}

.editor-pane textarea {
  min-height: 500px;
}

.markdown-controls {
  position: relative;
  z-index: 5;
  text-align: right;
  color: #fff;
  float: right;
}

.markdown-controls form {
  background-color: rgba(39, 40, 34, 0.5);
  margin-right: 20px;
}

.markdown-controls legend {
  border-bottom: 0;
  color: #fff;
  font-size: 1.25em;
  margin: 0;
  padding: 10px 0 0 0;
}

.CodeMirror {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;

  font-size: 16px;
}

pre {
  border: 1px solid #ccc;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}

.notes {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: lightgray;
}

.note {
  margin: 10px;
  padding: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delete-button {
  float: right;
}