@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import '/path/to/reset-css/reset.css';

// $primary-font: -apple-system,
// BlinkMacSystemFont,
// Lato,
// Roboto,
// 'Open Sans',
// 'Helvetica Neue',
// sans-serif;

// Fonts
@font-face {
  font-family: DankMono;
  src: url(./fonts/DankMono-Regular.otf);
}

@font-face {
  font-family: DankMono;
  font-style: italic;
  src: url(./fonts/DankMono-Italic.otf);
}

// Colors
$white: #fff;
$color_fuscous_gray: #263238;
$color_mine_shaft: #333;
$red_highlight: #fd6565;
$color_woodsmoke: #101010;
$color_mountain_mist: #999;
$color_iron: #d8d8d8;
$light_grey: #f3f3f3;

// Fonts
$font_0: 'Lato';
$font_cursive: 'DankMono';

// $font_cursive: 'Operator mono';
$font_2: 'monospace';

// @extend-elements
%extend_1 {
  font-family: $font_cursive, $font_2;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  color: $color_mine_shaft;
  tab-size: 4;
  hyphens: none;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: $white;
  font-family: $font_0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color_fuscous_gray;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

code[class*='language-'] {
  @extend %extend_1;
}

pre {
  background-color: #263238 !important;
}

pre[class*='language-'] {
  @extend %extend_1;

  overflow: auto;
  background: $light_grey;
  font-size: 1.4rem;

  code {
    white-space: pre;
  }
}

a {
  color: $red_highlight;
  text-decoration: none;
  background-image: linear-gradient(180deg, transparent 50%, $red_highlight 0);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_cursive;
  font-style: italic;
  color: $color_woodsmoke;

  a {
    color: $color_woodsmoke;
    text-decoration: none;
  }
}

h1 {
  font-size: 3.9rem;
  margin-bottom: 1.4rem;
  line-height: 1.3;

  + p {
    font-size: 2.1rem;
    color: $color_mountain_mist;
  }
}

h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
  margin-top: -2rem;
  margin-bottom: 1.3rem;
  position: relative;
}

h3 {
  font-size: 1.9rem;
  margin-bottom: 1.2rem;
  margin-top: -90px;
  padding-top: 90px;
}

h4 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

h6 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 1px;
  background: $color_iron;
  border: none;

  + h2 {
    border: none;
    padding-top: 0;
  }
}

p {
  font-size: 1.6rem;
  margin-bottom: 2.2rem;

  + p {
    margin-top: -1.2rem;
  }
}

ol {
  list-style: none;
  counter-reset: b;
  margin-bottom: 2.2rem;

  li {
    padding-left: 27px;
    position: relative;
    margin-bottom: 10px;

    > * {
      margin-bottom: 10px;
    }

    ol {
      margin: 7px 0 0;
    }

    ul {
      margin: 7px 0 0;
    }

    p:last-child {
      margin: 0;
    }
  }

  > li {
    &:before {
      content: counters(b, '.') ' ';
      counter-increment: b;
      left: -8px;
      color: $color_mountain_mist;
      position: absolute;
      text-align: right;
      width: 29px;
    }

    ol {
      margin-left: 4px;
    }
  }
}

ul {
  list-style: none;
  margin-bottom: 2.2rem;

  li {
    padding-left: 27px;
    position: relative;
    margin-bottom: 2px;

    > * {
      margin-bottom: 10px;
    }

    ol {
      margin: 7px 0 0;
    }

    ul {
      margin: 7px 0 0;
    }

    p:last-child {
      margin: 0;
    }
  }

  > li:before {
    content: '';
    background-color: $color_mountain_mist;
    border-radius: 9999px;
    width: 6px;
    height: 6px;
    left: 12px;
    top: 10px;
    position: absolute;
  }
}

code {
  font-size: 90%;
  background: $light_grey;
  padding: 0.1em 0.3em;
  border-radius: 3px;
  font-weight: 300;
}

pre code {
  background: transparent;
  font-size: 1.4rem;
  padding: 0;
  line-height: 2.4rem;
}

blockquote {
  color: $color_mountain_mist;
  padding-left: 20px;
  position: relative;
  border-left: 4px solid $red_highlight;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

img {
  margin-bottom: 2.2rem;
  max-width: 100%;
}

table {
  margin-bottom: 2.2rem;
  font-size: 1.6rem;
  border-collapse: collapse;
  width: 100%;
  overflow-y: auto;
  _overflow: auto;

  th {
    color: $color_woodsmoke;
    font-weight: 700;
    padding: 10px;
    border-bottom: 1px solid $light_grey;

    &:not([align]) {
      text-align: left;
    }
  }

  td {
    padding: 10px;
    border-bottom: 1px solid $light_grey;
    color: inherit;
  }
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
